body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

.container {
  width: 90%; /* 테이블 컨테이너의 너비를 화면의 90%로 확대 */
  max-width: 1200px; /* 최대 너비 제한 */
  background-color: #ffffff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #333;
  text-align: center;
}

.header-line {
  width: 100%;
  height: 1px;
  background-color: #333;
  margin-bottom: 10px;
}

.greeting {
  font-size: 18px;
  text-align: right;
  margin-top: 20px;
  margin-bottom: 20px;
}

.search-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.post-button {
  width: 20%;
  padding: 5px;
  border: 1px solid #333;
  transition: background-color 0.3s, box-shadow 0.3s; /* 배경색과 그림자 효과 애니메이션 */
  cursor: pointer; /* 클릭 가능한 버튼 모양 */
}

.post-button:hover {
  background-color: #f0f0f0; /* 호버 시 배경색 변경 */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 호버 시 그림자 추가 */
}

.combo-box {
  padding: 5px;
  border: 1px solid #333;
}

#searchInput {
  width: 50%;
  padding: 5px;
  border: 1px solid #333;
  box-sizing: border-box;
}

#searchButton {
  padding: 5px 10px;
  border: none;
  background-color: #333;
  color: #ffffff;
  cursor: pointer;
}

.table-container {
  margin-top: 20px;
  text-align: left;
}

.table-container h3 {
  margin-bottom: 10px;
  font-size: 16px;
}

table {
  width: 100%; /* 테이블이 컨테이너의 전체 너비를 사용 */
  border-collapse: collapse;
  text-align: center;
  font-size: 14px; /* 글자 크기를 약간 줄임 */
}

th, td {
  border: 1px solid #333;
  padding: 8px;
  white-space: nowrap; /* 텍스트 줄바꿈 방지 */
}

th {
  background-color: #f0f0f0;
  font-size: 14px; /* 헤더의 글자 크기를 약간 줄임 */
}

table tr {
  cursor: pointer;
  transition: background-color 0.3s;
}

table tr:hover {
  background-color: #f0f0f0;
}

table tr.selected {
  background-color: #add8e6;
}
